<!DOCTYPE html>
<html>
    <title>About Us</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="css/styles.css">
    <body>
        <div class="main-content">
        {{>header}}
        <h3>All about the page</h3>
        <br>
        <br>
        <img class="le-me" src="img/potatome.jpg">
        </div>
        {{>footer}}
    </body>
</html>