<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="css/styles.css">
    <title>Help</title>
    <body>
        <div class="main-content">
        {{>header}}
        Help Page!
        <br>
        Nothing much here, help YOURSELF
        </div>
        <img class="le-me" src="img/help-potato.jpg">
        {{>footer}}
    </body>
</html>